@using EscolaDeCursos.ModuloCurso.Apresentacao.Models
@model ExcluirCursoViewModel

@{
    ViewBag.Titulo = "Excluir Curso";
}

<h2>@ViewBag.Titulo</h2>

<p>
    Deseja realmente excluir o curso
    <strong>@Model.Titulo</strong>?
</p>

<form asp-action="ConfirmarExclusao">

    <input type="hidden"
           asp-for="Id"/>

    <button type="submit"
            class="btn btn-danger">
        Confirmar
    </button>

    <a asp-action="Listar"
       class="btn btn-secondary">
        Cancelar
    </a>

</form>
