@using EscolaDeCursos.ModuloCurso.Apresentacao.Models
@using EscolaDeCursos.Dominio.Enumeradores
@model FormularioCursoViewModel

<div class="card shadow-sm border-0 rounded-4">

    <div class="card-header bg-white border-0 pt-4">
        <h4 class="fw-bold text-primary mb-0">
            <i class="bi bi-journal-bookmark"></i>
            Dados do Curso
        </h4>
    </div>

    <div class="card-body p-4">

        <div class="row g-4">

            <div class="col-md-12">
                <label asp-for="Titulo" class="form-label fw-semibold"></label>
                <input asp-for="Titulo" class="form-control" />
            </div>

            <div class="col-md-12">
                <label asp-for="Descricao" class="form-label fw-semibold"></label>
                <textarea asp-for="Descricao"
                          rows="4"
                          class="form-control"></textarea>
            </div>

            <div class="col-md-4">
                <label asp-for="CargaHoraria" class="form-label fw-semibold"></label>
                <input asp-for="CargaHoraria" class="form-control" />
            </div>

            <div class="col-md-4">
                <label asp-for="Nivel" class="form-label fw-semibold"></label>
                <select asp-for="Nivel"
                        asp-items="Html.GetEnumSelectList<NivelCurso>()"
                        class="form-select">
                </select>
            </div>

            <div class="col-md-4">
                <label asp-for="CategoriaId" class="form-label fw-semibold"></label>
                <select asp-for="CategoriaId"
                        asp-items="Model.Categorias"
                        class="form-select">
                </select>
            </div>

        </div>

    </div>

</div>
