@using EscolaDeCursos.Dominio.Enumeradores
@using EscolaDeCursos.ModuloCurso.Apresentacao.Models
@model FormularioCursoViewModel

<div asp-validation-summary="All"></div>

<div class="mb-3">
    <label asp-for="Titulo"></label>

    <input asp-for="Titulo"
           class="form-control"/>

    <span asp-validation-for="Titulo"></span>
</div>

<div class="mb-3">
    <label asp-for="Descricao"></label>

    <textarea asp-for="Descricao"
              class="form-control">
    </textarea>
</div>

<div class="mb-3">
    <label asp-for="CargaHoraria"></label>

    <input asp-for="CargaHoraria"
           class="form-control"/>
</div>

<div class="mb-3">
    <label asp-for="Nivel"></label>

    <select asp-for="Nivel"
            asp-items="Html.GetEnumSelectList<NivelCurso>()"
            class="form-select">
    </select>
</div>

<div class="mb-3">
    <label asp-for="CategoriaId"></label>

    <select asp-for="CategoriaId"
            asp-items="Model.Categorias"
            class="form-select">
    </select>
</div>

<button type="submit"
        class="btn btn-primary">
    Salvar
</button>

<a asp-action="Listar"
   class="btn btn-secondary">
    Voltar
</a>
