@using EscolaDeCursos.WebApp.ModuloModulo.Apresentacao.Models
@model EditarModuloViewModel

@{
    ViewData["Title"] = "Editar Módulo";
}

<div class="page-header">

    <h2 class="titulo-pagina">
        Editar Módulo
    </h2>

    <a asp-action="Listar"
       class="btn btn-outline-secondary">
        Voltar
    </a>

</div>

<div class="card card-dashboard">

    <div class="card-body">

        <form method="post">

            <input type="hidden"
                   asp-for="Id" />

            <partial name="Formulario"
                     model="Model" />

            <div class="mt-3">

                <button type="submit"
                        class="btn btn-warning">
                    Salvar Alterações
                </button>

                <a asp-action="Listar"
                   class="btn btn-secondary">
                    Cancelar
                </a>

            </div>

        </form>

    </div>

</div>
