@using EscolaDeCursos.WebApp.ModuloModulo.Apresentacao.Models
@model EditarModuloViewModel

@{
    ViewData["Title"] = "Editar Registro";
}

<div class="page-header">

    <h2 class="titulo-pagina">
        Editar Registro
    </h2>

    <a asp-action="Listar"
       class="btn btn-outline-secondary">

        <i class="bi bi-arrow-left"></i>
        Voltar

    </a>

</div>

<form method="post">

    <input asp-for="Id" type="hidden"/>

    <partial name="Formulario" />

    <div class="card card-dashboard mt-4">

        <div class="card-body">

            <div class="d-flex justify-content-end gap-2">

                <a asp-action="Listar"
                   class="btn btn-outline-secondary">

                    Cancelar

                </a>

                <button type="submit"
                        class="btn btn-warning">

                    <i class="bi bi-pencil"></i>
                    Atualizar

                </button>

            </div>

        </div>

    </div>

</form>
