@using EscolaDeCursos.WebApp.ModuloModulo.Apresentacao.Models
@model FormularioModuloViewModel

<div class="card shadow-sm border-0 rounded-4">

    <div class="card-header bg-white border-0 pt-4">
        <h4 class="fw-bold text-primary mb-0">
            <i class="bi bi-collection"></i>
            Dados do Módulo
        </h4>
    </div>

    <div class="card-body p-4">

        <div class="row g-4">

            <div class="col-md-6">
                <label asp-for="Titulo" class="form-label fw-semibold"></label>
                <input asp-for="Titulo" class="form-control" />
            </div>

            <div class="col-md-2">
                <label asp-for="Ordem" class="form-label fw-semibold"></label>
                <input asp-for="Ordem" class="form-control" />
            </div>

            <div class="col-md-4">
                <label asp-for="Duracao" class="form-label fw-semibold"></label>
                <input asp-for="Duracao" class="form-control" />
            </div>

            <div class="col-md-12">
                <label asp-for="CursoId" class="form-label fw-semibold"></label>
                <select asp-for="CursoId"
                        asp-items="Model.Cursos"
                        class="form-select">
                </select>
            </div>

        </div>

    </div>

</div>
