@using EscolaDeCursos.WebApp.ModuloModulo.Apresentacao.Models
@model FormularioModuloViewModel

<div class="row">

    <div class="col-md-8">

        <div class="mb-3">

            <label asp-for="Titulo"
                   class="form-label">
            </label>

            <input asp-for="Titulo"
                   class="form-control" />

            <span asp-validation-for="Titulo"
                  class="text-danger">
            </span>

        </div>

    </div>

    <div class="col-md-4">

        <div class="mb-3">

            <label asp-for="Ordem"
                   class="form-label">
            </label>

            <input asp-for="Ordem"
                   class="form-control" />

            <span asp-validation-for="Ordem"
                  class="text-danger">
            </span>

        </div>

    </div>

</div>

<div class="row">

    <div class="col-md-12">

        <div class="mb-3">

            <label asp-for="CursoId"
                   class="form-label">
            </label>

            <select asp-for="CursoId"
                    asp-items="Model.Cursos"
                    class="form-select">

                <option value="">
                    Selecione um curso
                </option>

            </select>

            <span asp-validation-for="CursoId"
                  class="text-danger">
            </span>

        </div>

    </div>

</div>
