<nav class="navbar navbar-expand-lg navbar-dark navbar-top">

    <div class="container-fluid">

        <a class="navbar-brand fw-bold"
           asp-controller="Home"
           asp-action="Index">

            Escola de Cursos

        </a>

    </div>

</nav>
