@using EscolaDeCursos.WebApp.ModuloTurma.Apresentacao.Models
@model FormularioTurmaViewModel

<div class="card shadow-sm border-0 rounded-4">

    <div class="card-header bg-white border-0 pt-4">
        <h4 class="fw-bold text-primary mb-0">
            <i class="bi bi-people"></i>
            Dados da Turma
        </h4>
    </div>

    <div class="card-body p-4">

        <div class="row g-4">

            <div class="col-md-12">
                <label asp-for="Nome" class="form-label fw-semibold"></label>
                <input asp-for="Nome" class="form-control" />
            </div>

            <div class="col-md-6">
                <label asp-for="CursoId" class="form-label fw-semibold"></label>
                <select asp-for="CursoId"
                        asp-items="Model.Cursos"
                        class="form-select">
                </select>
            </div>

            <div class="col-md-6">
                <label asp-for="InstrutorId" class="form-label fw-semibold"></label>
                <select asp-for="InstrutorId"
                        asp-items="Model.Instrutores"
                        class="form-select">
                </select>
            </div>

            <div class="col-md-4">
                <label asp-for="DataInicio" class="form-label fw-semibold"></label>
                <input asp-for="DataInicio"
                       type="date"
                       class="form-control" />
            </div>

            <div class="col-md-4">
                <label asp-for="DataTermino" class="form-label fw-semibold"></label>
                <input asp-for="DataTermino"
                       type="date"
                       class="form-control" />
            </div>

            <div class="col-md-4">
                <label asp-for="CapacidadeMaxima" class="form-label fw-semibold"></label>
                <input asp-for="CapacidadeMaxima"
                       class="form-control" />
            </div>

        </div>

    </div>

</div>
