@using EscolaDeCursos.WebApp.ModuloMatricula.Apresentacao.Models
@using EscolaDeCursos.Dominio.Enumeradores
@model FormularioMatriculaViewModel

<div class="card shadow-sm border-0 rounded-4">

    <div class="card-header bg-white border-0 pt-4">
        <h4 class="fw-bold text-primary mb-0">
            <i class="bi bi-journal-check"></i>
            Dados da Matrícula
        </h4>
    </div>

    <div class="card-body p-4">

        <div class="row g-4">

            <div class="col-md-6">
                <label asp-for="AlunoId" class="form-label fw-semibold"></label>

                <select asp-for="AlunoId"
                        asp-items="Model.Alunos"
                        class="form-select">
                </select>
            </div>

            <div class="col-md-6">
                <label asp-for="TurmaId" class="form-label fw-semibold"></label>

                <select asp-for="TurmaId"
                        asp-items="Model.Turmas"
                        class="form-select">
                </select>
            </div>

            <div class="col-md-6">
                <label asp-for="DataMatricula" class="form-label fw-semibold"></label>

                <input asp-for="DataMatricula"
                       type="date"
                       class="form-control" />
            </div>

            <div class="col-md-6">
                <label asp-for="Situacao" class="form-label fw-semibold"></label>

                <select asp-for="Situacao"
                        asp-items="Html.GetEnumSelectList<SituacaoMatricula>()"
                        class="form-select">
                </select>
            </div>

        </div>

    </div>

</div>
