@using EscolaDeCursos.Dominio.Enumeradores
@using EscolaDeCursos.WebApp.ModuloMatricula.Apresentacao.Models
@model FormularioMatriculaViewModel

<div asp-validation-summary="All" class="text-danger"></div>

<div class="row">

    <div class="col-md-6 mb-3">
        <label asp-for="AlunoId" class="form-label"></label>
        <select asp-for="AlunoId"
                asp-items="Model.Alunos"
                class="form-select">
            <option value="">Selecione um aluno...</option>
        </select>
        <span asp-validation-for="AlunoId" class="text-danger"></span>
    </div>

    <div class="col-md-6 mb-3">
        <label asp-for="TurmaId" class="form-label"></label>
        <select asp-for="TurmaId"
                asp-items="Model.Turmas"
                class="form-select">
            <option value="">Selecione uma turma...</option>
        </select>
        <span asp-validation-for="TurmaId" class="text-danger"></span>
    </div>

</div>

<div class="row">

    <div class="col-md-6 mb-3">
        <label asp-for="DataMatricula" class="form-label"></label>
        <input asp-for="DataMatricula" class="form-control" />
        <span asp-validation-for="DataMatricula" class="text-danger"></span>
    </div>

    <div class="col-md-6 mb-3">
        <label asp-for="Situacao" class="form-label"></label>
        <select asp-for="Situacao"
                asp-items="Html.GetEnumSelectList<SituacaoMatricula>()"
                class="form-select">
        </select>
        <span asp-validation-for="Situacao" class="text-danger"></span>
    </div>

</div>
